.cart {
    padding: 3rem;
    background: $backgroundColor;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 60%;
    min-height: 500px;
    position: relative;
    box-shadow: inset 0.6rem 0.6rem 1.2rem $color-shadow-dark,inset -0.6rem -0.6rem 1.2rem whitesmoke;
}

.cart__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.shop__carousel-container__image {
    transition: 0.7s;
    position: relative;
    // background-repeat: no-repeat;
    // background-position: center;
    animation-name: zoom-out;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    
    &:hover {
        animation-name: zoom-in;
        animation-duration: 1s;
        animation-fill-mode: forwards; 
        animation-timing-function: ease-out;
    }
}

@keyframes zoom-in {
    from {
        background-size: 95%;
    }
    to {
        background-size: 100%;
    }
}

@keyframes zoom-out {
    from {
        background-size: 100%;
    }
    to {
        background-size: 95%;
    }
}

.cart-container,
.cart-container--empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    flex-basis: 100%;
}

.cart-container__bag-image--empty {
    height: 10rem;
    opacity: 0.7;
    position: relative;
    animation-name: empty-bag;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-direction: forwards; 
}

@keyframes empty-bag {
    0% {left:0rem; bottom:0rem;}
    25% {left:0rem; bottom:3rem;}
    50% {left:0rem; bottom:3rem;}
    55% {transform: rotate(155deg);}
    75% {left:0rem; bottom:3rem;}
    100% {left:0rem; bottom:0rem;}
}

// ITEM CONTAINER
.cart-container__info {
    display: flex;
    min-width: 100%;
}

.cart-container__info__items {
    // max-height: 20rem;
    flex-basis: 70%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    background-color: $backgroundColor;
    border-right: 2px solid $fontColor;
    // overflow-y: scroll;
}

.cart__item {
    margin: 0 1.5rem 1.5rem 0;
    padding: 1.5rem 1rem 1rem 1.5rem;
    font-size: 0.9rem;
    background: white;
    flex-basis: 38%;
    box-shadow: 3px 3px 10px $color-shadow-dark, -3px -3px 5px white;
    border-radius: 25px;
    height: max-content;

    &:hover {
        box-shadow: 3px 3px 5px $color-shadow-dark, -1px -1px 5px white;
    }
}

.cart__item__desc {
    min-height: 7rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem ;
    border-radius: 20px;
}

.cart__item__photo {
    min-height: 100%;
    min-width: 30%;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-image: url("../../../images/shop-images/blossom-komplet-plava(125x100).jpg");
}

.cart__item__bar {
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.cart__item__text-line--amount {
    margin-top: 2rem;
}

.cart__item__text-line--color {
    text-transform: capitalize;
}

.cart__item__bar-text--btn {
    text-align: center;
    min-width: 1.3rem;
    line-height: 1.3rem;
    border-radius: 15px;
    &:hover {
        cursor: pointer;
        box-shadow: inset 0.6rem 0.6rem 1.2rem $color-shadow-dark,inset -0.6rem -0.6rem 1.2rem whitesmoke;
    }

    img {
        opacity: 0.7;
        height: 1.3rem;
    }
}

// FORM 
.cart-container__info__buyer {
    flex-basis: 30%;
    box-sizing: border-box;
}
.cart-form {
    padding: 0 1rem;
    box-sizing: border-box;
}

.cart-form__label {
    margin: 0.7rem 0;
}

.cart-form__error-span {
    color: red;
    font-size: 0.8rem;
    transform: translate(5rem, -4.2rem);
    position: absolute;
}

// SUMMARY
.cart-container__sumary {
    margin-top: 2rem;
    display: flex;
    min-width: 100%;
}

.cart-container__summary__checkout {
    display: flex;
    align-items: center;
    flex-basis: 70%;
}

.cart-form__submit-button {
    flex-basis: 30%;
}

.checkout__total-price--amount {
    margin-left: 1.2rem;
}

// USER 

.cart-panel__user-avatar {
    min-width: 100px;
    min-height: 100px;
}

.cart-panel__user-avatar__picture {
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: linear-gradient(rgb(14, 245, 253), rgb(139, 31, 228));
}

.cart-panel__user-avatar__name-initials {
    font-size: 2rem;
    color: white;
}

.cart-panel__user-avatar__name {
    text-align: center;
}

.cart-form__link {
    text-align: center;
}