@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Russo+One&display=swap");
.header {
  min-width: 100%; }

.header-container {
  margin: 0 auto;
  width: 65%;
  min-width: 65%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden; }

.header-container_nav {
  padding: 1rem 2rem;
  box-sizing: border-box;
  min-width: 65%;
  z-index: 7;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

.header-container_nav_navigation {
  display: flex;
  justify-content: center;
  align-items: baseline; }

.navigation_logo {
  margin-right: auto; }

.navigation_product-buttons {
  display: flex; }

.navigation_buttons {
  margin-left: auto;
  border-radius: 25px;
  border: none;
  transition: ease-in-out 0.2s; }
  .navigation_buttons:hover {
    box-shadow: 1px 1px 3px #dadada, -3px -3px 5px white; }

.nav-tabs__text--products {
  margin: 0 1rem;
  font-size: 1.3rem; }
  .nav-tabs__text--products:hover {
    cursor: pointer; }

.nav__btn {
  padding: 0 0.3rem;
  background: none;
  border: none;
  border-radius: 25px;
  min-height: 1.5rem;
  min-width: 1.5rem;
  transition: all 0.2s linear; }
  .nav__btn:hover {
    cursor: pointer;
    box-shadow: 3px 3px 5px #dadada, -1px -1px 3px white; }

.nav__icon {
  min-height: 1.5rem; }

.header-container_sub-nav {
  margin: 0 auto;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 65%;
  display: flex;
  min-height: 25rem;
  background-color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
  transform: translateY(-100vh);
  z-index: 6;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 3px 3px 10px #dadada, -5px -5px 5px white; }

.sub-nav__products-list {
  padding: 6rem 2rem 2rem 2rem;
  flex-basis: 65%; }

.sub-nav__products__ul {
  list-style: none;
  transition: 0.3s; }

.sub-nav__products__ul__li {
  padding: 0.1rem 0;
  max-width: max-content;
  animation-name: slide-reverse;
  animation-duration: 0.3s;
  animation-fill-mode: forwards; }
  .sub-nav__products__ul__li:hover {
    cursor: pointer;
    animation-name: slide-right;
    animation-duration: 0.3s;
    animation-fill-mode: forwards; }

@keyframes slide-right {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(1rem); } }
@keyframes slide-reverse {
  from {
    transform: translateX(1rem); }
  to {
    transform: translateX(0); } }
.sub-nav__products-images {
  flex-basis: 35%;
  background-size: cover;
  background-position: center;
  transition: 0.2s; }

.underlined:after {
  display: block;
  content: '';
  border-bottom: 3px solid #4d4d4d;
  animation-name: underline;
  animation-duration: 0.3s;
  animation-fill-mode: forwards; }

@keyframes underline {
  from {
    transform: scaleX(0); }
  to {
    transform: scaleX(1); } }
.login-container {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw; }

@keyframes slide-down {
  from {
    transform: translateY(-5rem);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }
.login-container__mask {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: slide-down;
  animation-duration: 0.3s;
  animation-fill-mode: forwards; }

.login-form {
  padding: 2rem;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  border-radius: 20px;
  text-align: center;
  background: rgba(245, 245, 245, 0.97);
  box-shadow: 5px 5px 5px #dadada, -3px -3px 5px white; }

.login-container__close-btn {
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  position: absolute;
  top: 0;
  right: 0;
  transition: ease-in-out 0.2s; }
  .login-container__close-btn:hover {
    background-color: rgba(221, 71, 71, 0.774);
    cursor: pointer;
    box-shadow: 3px 3px 5px #dadada, -3px -3px 5px white;
    animation-name: rotate-360;
    animation-duration: 0.2s;
    animation-fill-mode: forwards; }

@keyframes rotate-360 {
  from {
    transform: rotate(90deg); }
  to {
    transform: rotate(0deg); } }
.login-container__user-panel {
  padding: 2rem;
  box-shadow: 3px 3px 5px #dadada, -3px -3px 5px white;
  background-color: rgba(255, 255, 255, 0.514);
  border-radius: 20px;
  display: flex;
  position: relative; }

.user-panel__form {
  min-width: 300px; }

.user-panel__user-avatar {
  padding: 2rem;
  min-width: 300px;
  min-height: 300px; }

.user-panel__user-avatar__picture {
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background: linear-gradient(#0ef5fd, #8b1fe4); }

.user-panel__user-avatar__name-initials {
  font-size: 8rem;
  color: white; }

.user-panel__user-avatar__name {
  text-align: center; }

.user-panel__form__edit-profile {
  margin-top: 0.2rem;
  padding: 0.3rem;
  width: max-content;
  font-size: 0.9rem;
  font-weight: 600; }
  .user-panel__form__edit-profile:hover {
    cursor: pointer;
    color: #c209c9; }

.login-form__label,
.user-panel-form__label {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative; }

.login-form__label__span {
  color: red;
  font-size: 0.8rem;
  transform: translateY(-50%); }

.login-form__input,
.user-panel-form__input {
  padding: 0.5rem;
  border-radius: 25px;
  outline: none;
  background-color: #f4f4f4;
  box-shadow: 3px 3px 5px #dadada, -3px -3px 5px white;
  border: none;
  transition: ease-in-out 0.2s; }
  .login-form__input:hover,
  .user-panel-form__input:hover {
    box-shadow: 1px 1px 3px #dadada, -3px -3px 5px white; }
  .login-form__input:focus,
  .user-panel-form__input:focus {
    box-shadow: 1px 1px 3px #dadada, -3px -3px 5px white; }

.login-form__password__eye {
  width: 1.1rem;
  height: 1.1rem;
  font-size: 1.1rem;
  position: absolute;
  bottom: 0.8rem;
  right: 1rem;
  opacity: 0.7; }
  .login-form__password__eye:hover {
    cursor: pointer; }

.login-form__element,
.user-panel-form__element {
  margin: 1.1rem 0;
  box-sizing: border-box;
  min-width: 100%; }

.login-form__submit-button,
.user-panel__submit-button {
  padding: 0.9rem;
  border: none;
  border-radius: 25px;
  background-color: #4d4d4d;
  color: white;
  transition: 0.3s;
  box-shadow: 3px 3px 5px #dadada, -3px -3px 5px white; }
  .login-form__submit-button:hover,
  .user-panel__submit-button:hover {
    cursor: pointer;
    background-color: #676767; }

.login-form__links {
  font-size: 0.8rem;
  margin: 0; }

.login-form__links--highlighted {
  font-weight: 600;
  transition: 0.2s ease; }
  .login-form__links--highlighted:hover {
    cursor: pointer;
    color: #c209c9; }

.hero {
  padding-top: 10rem; }

.collection {
  overflow: hidden;
  max-width: 100%; }

.collection__carousel {
  padding: 0 4rem;
  box-sizing: border-box;
  width: 200vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
  transition: 0.3s;
  transform: translateX(0); }

.collection__carousel--slide {
  transform: translateX(-50%); }

.collection__carousel__switch {
  border-radius: 50%;
  background: white;
  width: 9rem;
  height: 9rem;
  display: flex;
  align-items: center;
  animation: rotateSwitchButtonBack;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  box-shadow: 3px 3px 5px #dadada, -3px -3px 1px white;
  transition: 0.3s; }
  .collection__carousel__switch:hover {
    cursor: pointer;
    box-shadow: 3px 3px 5px #dadada, -3px -3px 5px white; }
  .collection__carousel__switch img {
    max-height: 4rem;
    opacity: 0.7; }

.collection__carousel__switch--rotate {
  animation: rotateSwitchButton;
  animation-duration: 0.3s;
  animation-fill-mode: forwards; }

@keyframes rotateSwitchButton {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(180deg); } }
@keyframes rotateSwitchButtonBack {
  from {
    transform: rotate(180deg); }
  to {
    transform: rotate(0deg); } }
.collection__carousel__window {
  width: 80vw;
  border-radius: 20px;
  box-sizing: border-box; }

.collection__carousel__photo {
  height: 300px;
  background: white; }

.shop-window {
  flex-basis: 33%; }

.collection__carousel__shop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; }

.shop__container {
  min-height: 100%;
  position: relative; }

.shop__carousel {
  height: 400px;
  overflow-y: scroll; }

.shop__carousel-container {
  display: flex;
  flex-direction: column;
  transition: 0.3s; }

.shop__carousel-container__image {
  margin: 0.2rem;
  background: white;
  min-height: 300px;
  min-width: 25%;
  border-radius: 20px;
  box-sizing: border-box;
  background-position: center;
  background-size: cover; }

.shop__selection {
  padding: 1rem; }

.shop__selection__colors {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  min-height: 50px;
  box-shadow: inset 0.6rem 0.6rem 1.2rem #dadada, inset -0.6rem -0.6rem 1.2rem white;
  border-radius: 20px; }

.shop__selection__colors-color {
  box-sizing: border-box;
  margin: 0.2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 15px;
  background-position: center;
  background-size: cover; }
  .shop__selection__colors-color:hover {
    cursor: pointer; }

.shop__selection__sizes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.shop__selection__sizes-buttons {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  flex-basis: 100%; }

.shop__selection__sizes-size {
  margin: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #dadada, -3px -3px 5px white;
  transition: 0.3s; }
  .shop__selection__sizes-size:hover {
    cursor: pointer;
    box-shadow: inset 0.6rem 0.6rem 0.5rem #dadada, inset -0.6rem -0.6rem 0.5rem white; }

.shop-text--inline {
  display: inline-block; }

.shop-text--button {
  padding: 1rem 1.5rem;
  border-radius: 20px;
  box-shadow: 3px 3px 5px #dadada, -3px -3px 5px white;
  transition: 0.3s; }
  .shop-text--button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px #dadada, -1px -1px 5px white; }

.shop__color-button--active {
  transform: scale(1.1);
  border: 2px solid orange; }

.shop__size-button--active {
  box-shadow: inset 0.6rem 0.6rem 0.5rem #dadada, inset -0.6rem -0.6rem 0.5rem white; }

.modal {
  position: fixed;
  top: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(255, 255, 255, 0.692);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  animation-name: slide-down;
  animation-duration: 0.3s;
  animation-fill-mode: forwards; }

@keyframes slide-down {
  from {
    transform: translateY(-5rem);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }
.cart {
  padding: 3rem;
  background: #f4f4f4;
  border-radius: 20px;
  min-width: 60%;
  height: 500px;
  position: relative;
  box-shadow: inset 0.6rem 0.6rem 1.2rem #dadada, inset -0.6rem -0.6rem 1.2rem whitesmoke; }

.cart__title {
  font-size: 1.5rem; }

.cart-container,
.cart-container--empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%; }

.cart-container__bag-image--empty {
  height: 10rem;
  opacity: 0.7;
  position: relative;
  animation-name: empty-bag;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-direction: forwards; }

@keyframes empty-bag {
  0% {
    left: 0rem;
    bottom: 0rem; }
  25% {
    left: 0rem;
    bottom: 3rem; }
  50% {
    left: 0rem;
    bottom: 3rem; }
  55% {
    transform: rotate(155deg); }
  75% {
    left: 0rem;
    bottom: 3rem; }
  100% {
    left: 0rem;
    bottom: 0rem; } }
.cart-container__info {
  display: flex;
  min-width: 100%; }

.cart-container__info__items {
  flex-basis: 70%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll; }

.cart__item {
  margin: 0 1rem 1rem 0;
  padding: 1rem 1rem 0 1rem;
  font-size: 0.9rem;
  background: white;
  flex-basis: 35%;
  box-shadow: 3px 3px 10px #dadada, -5px -5px 5px white;
  border-radius: 20px;
  height: max-content; }

.cart__item__desc {
  min-height: 5rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-radius: 20px; }

.cart__item__photo {
  min-height: 100%;
  min-width: 30%;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  background-image: url("../../../images/shop-images/blossom-komplet-plava(125x100).jpg"); }

.cart__item__bar {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.cart__item__bar-text--btn {
  text-align: center;
  min-width: 1.3rem;
  line-height: 1.3rem;
  border-radius: 15px; }
  .cart__item__bar-text--btn:hover {
    cursor: pointer;
    box-shadow: inset 0.6rem 0.6rem 1.2rem #dadada, inset -0.6rem -0.6rem 1.2rem whitesmoke; }
  .cart__item__bar-text--btn img {
    opacity: 0.7;
    height: 1.3rem; }

.cart-container__info__buyer {
  flex-basis: 30%;
  box-sizing: border-box; }

.cart-form {
  padding: 0 1rem;
  box-sizing: border-box;
  border-left: 2px solid #4d4d4d; }

.cart-form__label {
  margin: 0.7rem 0; }

.cart-container__sumary {
  margin-top: 2rem;
  display: flex;
  min-width: 100%; }

.cart-container__summary__checkout {
  display: flex;
  align-items: center;
  flex-basis: 70%; }

.cart-form__submit-button {
  flex-basis: 30%; }

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #4d4d4d; }

body {
  background-color: #f4f4f4;
  position: relative; }

.container {
  position: relative; }

.uppercase {
  text-transform: uppercase; }

.headings-font {
  font-family: "Russo One", sans-serif; }

.fixed {
  position: fixed; }

.blured {
  filter: blur(11px);
  -webkit-filter: blur(11px); }

.hidden {
  display: none; }

::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

.close-btn {
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  position: absolute;
  top: 0;
  right: 0;
  transition: ease-in-out 0.2s; }
  .close-btn:hover {
    background-color: rgba(221, 71, 71, 0.774);
    cursor: pointer;
    box-shadow: 3px 3px 5px #dadada, -3px -3px 5px white;
    animation-name: rotate-close-btn;
    animation-duration: 0.2s;
    animation-fill-mode: forwards; }

@keyframes rotate-close-btn {
  from {
    transform: rotate(90deg); }
  to {
    transform: rotate(0deg); } }
.form-label {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative; }

.form-label-span {
  color: red;
  font-size: 0.8rem;
  transform: translateY(-50%); }

.form-input {
  padding: 0.5rem;
  border-radius: 25px;
  outline: none;
  background-color: #f4f4f4;
  box-shadow: 3px 3px 5px #dadada, -3px -3px 5px white;
  border: none;
  transition: ease-in-out 0.2s; }
  .form-input:hover {
    box-shadow: 1px 1px 3px #dadada, -3px -3px 5px white; }
  .form-input:focus {
    box-shadow: 1px 1px 3px #dadada, -3px -3px 5px white; }

.form-links {
  font-size: 0.8rem;
  margin: 0; }

.form-links--highlighted {
  font-weight: 600;
  transition: 0.2s ease; }
  .form-links--highlighted:hover {
    cursor: pointer;
    color: #c209c9; }

.submit-button {
  padding: 0.9rem;
  border: none;
  border-radius: 25px;
  background-color: #4d4d4d;
  color: white;
  transition: 0.3s;
  box-shadow: 3px 3px 5px #dadada, -3px -3px 5px white; }
  .submit-button:hover {
    cursor: pointer;
    background-color: #676767; }

/*# sourceMappingURL=main.css.map */
