@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Russo+One&display=swap");
.header {
  min-width: 100%; }

.header-container {
  margin: 0 auto;
  width: 65%;
  min-width: 65%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden; }

.header-container_nav {
  padding: 1rem 2rem;
  box-sizing: border-box;
  min-width: 65%;
  z-index: 5; }

.header-container_nav_navigation {
  display: flex;
  justify-content: center;
  align-items: baseline; }

.navigation_logo {
  margin-right: auto; }

.navigation_product-buttons {
  display: flex; }

.navigation_buttons {
  margin-left: auto;
  border-radius: 25px;
  border: none;
  transition: ease-in-out 0.2s; }
  .navigation_buttons:hover {
    box-shadow: 1px 1px 3px #dadada, -3px -3px 5px white; }

.nav-tabs__text--products {
  margin: 0 1rem;
  font-size: 1.3rem; }
  .nav-tabs__text--products:hover {
    cursor: pointer; }

.nav__btn {
  padding: 0 0.3rem;
  background: none;
  border: none;
  border-radius: 25px;
  min-height: 1.5rem;
  min-width: 1.5rem;
  transition: all 0.2s linear; }
  .nav__btn:hover {
    cursor: pointer;
    box-shadow: 3px 3px 5px #dadada, -1px -1px 3px white; }

.nav__icon {
  min-height: 1.5rem; }

.header-container_sub-nav {
  display: flex;
  min-height: 25rem;
  background-color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
  transform: translateY(-100vh);
  z-index: 6; }

.sub-nav__products-list {
  padding: 5rem 2rem 2rem 2rem;
  flex-basis: 65%; }

.sub-nav__products__ul {
  list-style: none;
  transition: 0.3s; }

.sub-nav__products__ul__li {
  padding: 0.1rem 0;
  max-width: max-content;
  animation-name: slide-reverse;
  animation-duration: 0.3s;
  animation-fill-mode: forwards; }
  .sub-nav__products__ul__li:hover {
    cursor: pointer;
    animation-name: slide-right;
    animation-duration: 0.3s;
    animation-fill-mode: forwards; }

@keyframes slide-right {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(1rem); } }
@keyframes slide-reverse {
  from {
    transform: translateX(1rem); }
  to {
    transform: translateX(0); } }
.sub-nav__products-images {
  flex-basis: 35%;
  background-size: cover;
  background-position: center;
  transition: 0.2s; }

.underlined:after {
  display: block;
  content: '';
  border-bottom: 3px solid #4d4d4d;
  animation-name: underline;
  animation-duration: 0.3s;
  animation-fill-mode: forwards; }

@keyframes underline {
  from {
    transform: scaleX(0); }
  to {
    transform: scaleX(1); } }
.login-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw; }

@keyframes slide-down {
  from {
    transform: translateY(-5rem);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }
.login-container__mask {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: slide-down;
  animation-duration: 0.3s;
  animation-fill-mode: forwards; }

.login-form {
  padding: 2rem;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  border-radius: 20px;
  text-align: center; }

.login-container__close-btn {
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  position: absolute;
  top: 0;
  right: 0;
  transition: ease-in-out 0.2s; }
  .login-container__close-btn:hover {
    background-color: rgba(221, 71, 71, 0.774);
    cursor: pointer;
    box-shadow: 3px 3px 5px #dadada, -3px -3px 5px white;
    animation-name: rotate-360;
    animation-duration: 0.2s;
    animation-fill-mode: forwards; }

@keyframes rotate-360 {
  from {
    transform: rotate(90deg); }
  to {
    transform: rotate(0deg); } }
.login-container__user-panel {
  padding: 2rem;
  box-shadow: 3px 3px 5px #dadada, -3px -3px 5px white;
  background-color: rgba(255, 255, 255, 0.514);
  border-radius: 20px;
  display: flex;
  position: relative; }

.user-panel__form {
  min-width: 300px; }

.user-panel__user-avatar {
  padding: 2rem;
  min-width: 300px;
  min-height: 300px; }

.user-panel__user-avatar__picture {
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background: linear-gradient(#0ef5fd, #8b1fe4); }

.user-panel__user-avatar__name-initials {
  font-size: 8rem;
  color: white; }

.user-panel__user-avatar__name {
  text-align: center; }

.user-panel__form__edit-profile {
  margin-top: 0.2rem;
  padding: 0.3rem;
  width: max-content;
  font-size: 0.9rem;
  font-weight: 600; }
  .user-panel__form__edit-profile:hover {
    cursor: pointer;
    color: #c209c9; }

.login-form__label,
.user-panel-form__label {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative; }

.login-form__label__span {
  color: red;
  font-size: 0.8rem;
  transform: translateY(-50%); }

.login-form__input,
.user-panel-form__input {
  padding: 0.5rem;
  border-radius: 25px;
  outline: none;
  background-color: #f4f4f4;
  box-shadow: 3px 3px 5px #dadada, -3px -3px 5px white;
  border: none;
  transition: ease-in-out 0.2s; }
  .login-form__input:hover,
  .user-panel-form__input:hover {
    box-shadow: 1px 1px 3px #dadada, -3px -3px 5px white; }
  .login-form__input:focus,
  .user-panel-form__input:focus {
    box-shadow: 1px 1px 3px #dadada, -3px -3px 5px white; }

.login-form__password__eye {
  width: 1.1rem;
  height: 1.1rem;
  font-size: 1.1rem;
  position: absolute;
  bottom: 0.8rem;
  right: 1rem;
  opacity: 0.7; }
  .login-form__password__eye:hover {
    cursor: pointer; }

.login-form__element,
.user-panel-form__element {
  margin: 1.1rem 0;
  box-sizing: border-box;
  min-width: 100%; }

.login-form__submit-button,
.user-panel__submit-button {
  padding: 0.9rem;
  border: none;
  border-radius: 25px;
  background-color: #4d4d4d;
  color: white;
  transition: 0.3s;
  box-shadow: 3px 3px 5px #dadada, -3px -3px 5px white; }
  .login-form__submit-button:hover,
  .user-panel__submit-button:hover {
    cursor: pointer;
    background-color: #676767; }

.login-form__links {
  font-size: 0.8rem;
  margin: 0; }

.login-form__links--highlighted {
  font-weight: 600;
  transition: 0.2s ease; }
  .login-form__links--highlighted:hover {
    cursor: pointer;
    color: #c209c9; }

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #4d4d4d; }

body {
  background-color: #f4f4f4; }

.container {
  position: relative; }

.uppercase {
  text-transform: uppercase; }

.headings-font {
  font-family: "Russo One", sans-serif; }

.fixed {
  position: fixed; }

.blured {
  filter: blur(8px);
  -webkit-filter: blur(8px); }

.hidden {
  display: none; }

/*# sourceMappingURL=main.css.map */
