@import './mixins';

////////// NAV

.nav__btn {
    margin: 0 0.3rem;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 25px;

    &:hover {
        cursor: pointer;
    }
}

.nav__icon {
    height: 1.5rem;
    width: auto;
}

.spinner {
    margin: 5rem auto;
    text-align: center;
    z-index: 9;
  
    svg {
      height: 6rem;
      width: 6rem;
      fill: black;
      animation: rotate 2s infinite linear;
    }
  }
  
@keyframes rotate {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
}