$backgroundColor: #f4f4f4; // page background color
$higlightColor: rgb(235, 235, 235);
$fontColor: rgb(77,77,77);
$color-shadow-light: white;
$color-shadow-dark: rgb(218,218,218);

.header{
    min-width: 100%;
    position: relative;
    color: $fontColor;
}

.header-container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    min-width: 60%;
    max-width: 75%;
}

/////////////////// NAV

.nav {
    background-color: white;
}

.nav-tabs__text {
    padding: 0.2rem;
}

.nav-tabs__text--products {
    margin: 0 0.5rem;
    font-size: 1.3rem;
}

.header-container_nav {
    height: 8rem;
    min-width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 9;
}

.header-container_nav_navigation {
    padding: 3rem 1rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.navigation_product-buttons {
    display: flex;
}

/////////// SUB NAV

.header-container_sub-nav {
    padding-top: 8rem;
    min-height: 20rem;
    position: absolute;
    display: flex;
    min-width: 75%;
    max-width: 75%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 8;
}

.sub-nav__products-list {
    padding: 2rem 2rem 2rem 5rem;
    flex-basis: 60%;
}

.sub-nav__products-images {
    flex-basis: 30%;
}

.sub-nav__products__ul {
    padding-top: 2rem;
    list-style: none;
}

.sub-nav__products__ul__li {
    padding: 0.1rem 0rem;
    width: 15rem;
    transition: 0.2s;

    &:hover {
        cursor: pointer;
        transform: translateX(0.5rem);
        color: black;
    }
}

.sub-nav__products-images {
    max-height: 100%;
    flex-basis: 40%;

    img {
        max-width: 100%;
    }
}